<div class="row">
  <div class="col-xs-12">

  <ul>
    <% if object.instance_of?(Event) %>
      <li><h5><%= object.location.name %></h5></li>
      <li><h5>Date: <%= object.date.strftime("%b %d, %Y") %></h5></li>
      <li><h5>Start Time: <%= object.start_time.strftime("%l:%m %p ") %> | End Time: <%= object.end_time.strftime("%l:%m %p ") %></h5></li>
      <li><h5><%= object.desc %></h5></li>

      <%= cl_image_tag(object.photo_url, :width => 75, :height => 75, :crop => :fill) %>
      <% if object.checkins.any? %>
        <% object.checkins.each do |checkin| %>
          <%= cl_image_tag(checkin.photo_url, :width => 75, :height => 75, :crop => :fill) %>
        <% end %>
      <% end %>
    <% end %>

    <% if object.instance_of?(Location) %>
      <li><h5><%= object.name %></h5></li>
      <li><h5><%= object.address %></h5></li>
      <li><h5><%= object.desc %></h5></li>
      <% if object.checkins.any? %>
        <% object.checkins.each do |checkin| %>
          <%= cl_image_tag(checkin.photo_url, :width => 75, :height => 75, :crop => :fill) %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
</div>


