
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-8 col-lg-offset-2">
      <h1>Create a New Account</h1>

       <%= render 'partials/flash' %>

      <%= bootstrap_form_for :user do |f| %>
        <%= f.text_field :email, placeholder: "Enter your email" %>
        <%= f.text_field :user_name, placeholder: "Choose a user name (ex: 'BeastMode2015', 'HawkFan4Ever')" %>
        <%= f.password_field :password, placeholder: "Create a password" %>
        <%= f.password_field :password_confirmation, placeholder: "Confirm your password" %>
        <%= f.submit "Create Account", :class => "btn btn-primary" %> <br><br><%= link_to "Login", login_path, :class => "btn btn-primary" %>
      <% end %>
    </div>

