<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Sign Up for SeahawkCity</h1>

      <% if @user.errors.any? %>
          <% @user.errors.full_messages.each do |error| %>
              <div class="alert alert-danger"><%= error %></div>
          <% end %>
      <% end %>

      <%= bootstrap_form_for :user do |f| %> 
        <%= f.text_field :email, placeholder: "Enter your email" %>
        <%= f.text_field :user_name, placeholder: "Choose a user name (ex: 'BeastMode2015', 'HawkFan4Ever')" %>
        <%= f.password_field :password, placeholder: "Create a password" %>
        <%= f.password_field :password_confirmation, placeholder: "Confirm your password" %>
        <%= f.submit "Create Account" %>  
      <% end %> 
    </div>
  </div>
</div>
