  <div class="row">
    <%= render 'partials/flash' %>
    <div class="col-xs-12 col-md-12 col-lg-8 col-lg-offset-2">
      <h2>User Profile</h2>



      <%= bootstrap_form_for :user, :method => :patch do |f| %>
        <%= f.text_field :user_name, :disabled => "disabled" %>
        <%= f.text_field :email, :disabled => "disabled" %>
        <%= f.password_field :password, :value => "xxxxx", :disabled => "disabled" %>
        <%= f.form_group :is_business_owner, label: { text: "Do You Own a Business That Hosts Seahawks Events?"} do %><br>
          <%= f.radio_button :is_business_owner, false, label: "No, I'm a Fan!", inline: true, :style => "color:#002244;"%>
          <%= f.radio_button :is_business_owner, true, label: "Yes, Our Business Hosts Seahawks Events!", inline: true, :style => "color:#002244;" %>
          <% end %>

        <%= f.submit "Edit", :class => "btn btn-primary" %>
      <% end %>

      <br>

      <% if @current_user.is_business_owner == true %>
        <%= link_to "Add a New Location", new_location_path, :class => "btn btn-primary" %>
      <% end %>

      <div class="row">
      <div class="col-xs-12 col-sm-12, col-md-12">
      <div class="table-responsive">
      <table class="table">
      <% if @current_user.locations.any? %>
        <% @current_user.locations.each do |location| %>
         <h3>Your Registered Locations</h3>
          <tr>
            <th class="tableRow">New:</th>
            <th class="tableRow">Name:</th>
            <th class="tableRow">Description:</th>


          </tr>
          <tr>
            <td><%= link_to "+", "events/new/" + location.id.to_s, :class => "btn btn-primary btn-xs"  %></td>
            <td class="tableRow"><%= location.name %></td>
            <td class="tableRow"><%= location.desc %></td>

          </tr>
        <% end %>

      <% end %>
      </table>
      </div>
      </div>
      </div>

      <div class="row">
      <div class="col-xs-12 col-sm-12, col-md-12">
      <div class="table-responsive">
      <table class="table">
      <% if @current_user.is_business_owner == false %>
        <% if @current_user.checkins.any? %>
         <h3>Your Checkins</h3>
          <% @current_user.checkins.each do |checkin| %>
            <tr>
              <th class="tableRow ">Note:</th>
              <th class="tableRow ">Image:</th>

            </tr>

          <tr>
            <td class='tableRow'><%= checkin.note %></td>
            <td class="tableImg"><%= cl_image_tag(checkin.photo_url, :width => 50, :height => 50, :crop => :fill) %></td>
          </tr>
          <% end %>

        <% else %>
          <tr>
          <td class="tableRow">You have no checkins. </td>
          </tr>
        <% end %>
      <% end %>
 </table>

      </div>
      </div>
      <br><%= link_to "Checkin", new_checkin_path, :class => "btn btn-primary checkin_link" %>
      <div class="checkin_searching">Searching for location...</div>
      </div>

      </div>
      </div>
