  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h1>User Profile</h1>
      <hr>

      <%= bootstrap_form_for :user do |f| %>
        <%= f.text_field :user_name, :disabled => "disabled" %>
        <%= f.text_field :email, :disabled => "disabled" %>
        <%= f.password_field :password, :value => "xxxxx", :disabled => "disabled" %>
        <%= link_to "Edit", edit_profile_path, :class => "btn btn-primary" %>
      <% end %>
      <hr>

      <% if @current_user.is_business_owner == true %>
        <%= link_to "Add a New Location", new_location_path, :class => "btn btn-primary" %>
      <% end %>

      <% if @current_user.locations.any? %>
        <h3>Your Registered Locations</h3>
        <ul>
        <% @current_user.locations.each do |location| %>
          <li><h4>Name: <%= location.name %>. Details: <%= location.desc %></h4><%= link_to "+", "events/new/" + location.id.to_s, :class => "btn btn-primary btn-xs"  %></li>
        <% end %>
        </ul>
      <% end %>

      <hr>

      <% if @current_user.is_business_owner == false %>
        <% if @current_user.checkins.any? %>
          <h3>Your Checkins</h3>
          # NOTE: Should sort/group these checkin type (new, exiting, event)
          <ul>
          <% @current_user.checkins.each do |checkin| %>
            <li><h4><%= checkin.note %> Image: <%= cl_image_tag(checkin.photo_url, :width => 50, :height => 50, :crop => :fill) %></h4></li>
          <% end %>
        </ul>
        <% else %>
          <p>You have no checkins. :-(</p>
        <% end %>
      <% end %>

    <hr>
    <h4>Dev Notes</h4>
    <ul>
      <li>&check; Display user_name, email, password (hidden)</li>
      <li>&check; Link to edit details</li>
      <li>Display list of owned locations</li>
      <li>Link to 'Add your business'</li>
      <li>Display list of checkins and score</li>
    </ul>
  </div>
</div>


