  <div class="row">
    <%= render 'partials/flash' %>
    <div class="col-xs-12 col-md-12">
      <h2>User Profile</h2>



      <%= bootstrap_form_for :user, :method => :patch do |f| %>
        <%= f.text_field :user_name, :disabled => "disabled" %>
        <%= f.text_field :email, :disabled => "disabled" %>
        <%= f.password_field :password, :value => "xxxxx", :disabled => "disabled" %>
        <%= f.form_group :is_business_owner, label: { text: "Do You Own a Business That Hosts Seahawks Events?"} do %><br>
          <%= f.radio_button :is_business_owner, false, label: "No, I'm a Fan!", inline: true, :style => "color:#002244;"%>
          <%= f.radio_button :is_business_owner, true, label: "Yes, Our Business Hosts Seahawks Events!", inline: true, :style => "color:#002244;" %>
          <% end %>

        <%= f.submit "Edit", :class => "btn btn-primary" %>
      <% end %>

      <hr>

      <% if @current_user.is_business_owner == true %>
        <%= link_to "Add a New Location", new_location_path, :class => "btn btn-primary" %>
      <% end %>

      <% if @current_user.locations.any? %>
        <h3>Your Registered Locations</h3>
        <ul>
        <% @current_user.locations.each do |location| %>
          <li><h4>Name: <%= location.name %>. Details: <%= location.desc %></h4><%= link_to "+", "events/new/" + location.id.to_s, :class => "btn btn-primary btn-xs"  %></li>
        <% end %>
        </ul>
      <% end %>
      <hr>
        <% if @current_user.checkins.any? %>
          <h3>Your Checkins</h3>
          # NOTE: Should sort/group these checkin type (new, exiting, event)
          <ul>
          <% @current_user.checkins.each do |checkin| %>
            <li><h4><%= checkin.note %> Image: <%= cl_image_tag(checkin.photo_url, :width => 50, :height => 50, :crop => :fill) %></h4></li>
          <% end %>
        </ul>
        <% else %>
          <p>You have no checkins. :-(</p>
        <% end %>

