
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h1>User Profile</h1>
      <hr>

      <%= bootstrap_form_for :user do |f| %>
        <%= f.text_field :user_name, :disabled => "disabled" %>
        <%= f.text_field :email, :disabled => "disabled" %>
        <%= f.password_field :password, :value => "xxxxx", :disabled => "disabled" %>
        <%= link_to "Edit", edit_profile_path, :class => "btn btn-primary" %>
      <% end %>
      <hr>

      <h3>Your Registered Locations</h3>
      <% if @locations %>
        <ul>
        <% @locations.each do %>
          <li>Fake Location...</li>
        <% end %>
        </ul>
      <% else %>
        <%= link_to "Put Your Business On The Map!", new_location_path %>
      <% end %>
      <hr>

      <h3>Your Checkins</h3>
      <% if @checkins %>
        # NOTE: Should sort/group these checkin type (new, exiting, event)
        <ul>
        <% @checkins.each do %>
          <li>Fake Checkin...</li>
        <% end %>
        </ul>
      <% else %>
        <p>You have no checkins. :-(</p>
      <% end %>

      <hr>
      <h4>Dev Notes</h4>
      <ul>
        <li>&check; Display user_name, email, password (hidden)</li>
        <li>&check; Link to edit details</li>
        <li>Display list of owned locations</li>
        <li>Link to 'Add your business'</li>
        <li>Display list of checkins and score</li>
      </ul>
    </div>
  </div>


