<div class="row">
  <%= render 'partials/flash' %>
  <div class="col-xs-12 col-md-12">
    <h2>Event Detail</h2>
    <!-- if @user.user_id = @event.user_id -->
    <!-- link_to edit_event_path goes here... -->
    <!-- end if -->
      <div class="eventDetail">
      <p><strong style="color:#69BE28;">Name:</strong> <%= @event.name %></p>
      <p><strong style="color:#69BE28;">Location:</strong> <%= @event.location.name %></p>
      <p><strong style="color:#69BE28;">Date:</strong> <%= @event.date %> </p>
      <p><strong style="color:#69BE28;">Start:</strong> <%= @event.start_time.strftime("%l:%M %p") %> </p>
      <p><strong style="color:#69BE28;">End:</strong> <%= @event.end_time.strftime("%l:%M %p") %> </p>
      <p><strong style="color:#69BE28;">Desc:</strong> <%= @event.desc %> </p>

     <%= cl_image_tag(@event.photo_url, :width => 275, :crop => :fill, :class => "cloudImg") %>

      </div>
    <hr>
    <h2>Checkins</h2>
    <!-- checkin link goes here... -->
    <% if @checkins %>
      <ul>
        <% @checkins.each do %>
          <li><%= @checkin.user.user_name %></li>
        <% end %>
      </ul>
    <% else %>
      <p>There are no checkins for this location. </p>
      <%= link_to "Add a Checkin", new_checkin_path, :class => "btn btn-primary checkin_link" %>
      <div class="checkin_searching">Searching for location...</div>
    <% end %>
    </div>
</div>

