
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h1>Event Detail</h1>
      <!-- if @user.user_id = @event.user_id -->
      <!-- link_to edit_event_path goes here... -->
      <!-- end if -->
      <hr>
        Name: <%= @event.name %> <br>
        Address: <br><!-- Need to create @address in controller -->
        Date: <%= @event.date %> <br>
        Start: <%= @event.start_time %> <br>
        End: <%= @event.end_time %> <br>
        Desc: <%= @event.desc %> <br>
        <img src="<%= @event.photo_url %>" alt="">
      <hr>
      <h3>Checkins</h3>
      <!-- checkin link goes here... -->
      <% if @checkins %>
        <ul>
        <% @checkins.each do %>
          <li>Fake Checkin...</li>
        <% end %>
        </ul>
      <% else %>
        <p>No checkins yet. :-(</p>
      <% end %>
      <hr>
      <h4>Dev Notes</h4>
      <ul>
        <li>Should show all relevant details for event</li>
        <li>Should have a checkin button</li>
        <li>Should display all existing checkins</li>
        <li>Should display an edit link if current_user is owner</li>
      </ul>
    </div>
  </div>

