<!-- <div class="container" style="width: 100%"> -->
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <h2>Capture The Flag</h2>
      <%= render 'partials/flash' %>
      <!-- map -->
      <div class="mainMap">
        <div id="map"></div>
      </div>
      <!-- end map -->
      <br><%= link_to "Checkin", new_checkin_path, :class => "btn btn-primary checkin_link" %>
      <div class="checkin_searching">Searching for location...</div>
    </div>
  </div>
    <h2 class="text-center">Let's Play!</h2>
  <div class="row text-left">
    <div class="col-xs-12 col-md-12 col-lg-8 col-lg-offset-2">

      <h3>The Goal: <small>Rise through the leaderboards capturing photos of every 12th Man Flag you can find.</small></h3>
      <h3>How to Play: <small>Click the check-in button to snap a photo of every 12th Man Flag you visit.</small></h3>

      <h3>Scoring: <small>First to find a flag? 100 points! Add a photo to the collection existing flags on the map, score 10 points! </small></h3>

      <h3>Your reward? <small> Bragging rights as the most Ballistic Beast-Mode Fan in town!</small></h3>

    </div>
  </div>
<!-- </div> -->

<script>

$(function() {
  <% if @current_user && @current_user.checkins.any? %>
    var mapOptions={
      center:[<%= @checkin_location_latitude %>,<%= @checkin_location_longitude %>],
      zoom:16,
      markers:<%=raw @hash.to_json %>
    }
  <% elsif @current_user %>
    var mapOptions={
      center:[<%= @user_pin[0] %>,<%= @user_pin[1] %>],
      zoom:16,
      markers:<%=raw @hash.to_json %>
    }
  <% else %>
    var mapOptions={
      center:[47.6097,-122.3331],
      zoom:11,
      markers:<%=raw @hash.to_json %>
    }
  <% end %>


  drawMap(mapOptions);

})

</script>

  <hr>
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-8 col-lg-offset-2">
      <h2>Nearby Events</h2>

      <div id="nearby">
        <ul class="list-group">
          <% @nearby.each do |n| %>
            <li class="list-group-item nearby-event nearEvent">
              <span>&#9;<%= n.date.to_s + ':' %>&#9;
              <%= link_to "events/"+ n.id.to_s do %>
              <span >&#9;<%= n.name + ' @ '%>&#9;<%= n.location.name %></span>
            <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>


