For testing, displaying list of sites:

<!-- Should be able to replace lines below with this in erb tags: "render 'partials/mapping_api_links'" -->
<%= javascript_include_tag "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry" %>
<%= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>

For testing, displaying list of sites:

<h3>Navigate to: <%= link_to "Add Location", new_location_path %></h3><br>

<table class="table">
  <tr>
    <th> Address Search </th>
    <th> Name </th>
    <th> Description </th>
    <th> Latitude </th>
    <th> Longitude </th>
    <th> Street </th>
    <th> City </th>
    <th> State </th>
    <th> Zipcode </th>
    <th> Country </th>
    <th> Created </th>
    <th> Updated </th>
  </tr>
  <% @locations.each do |location| %>
    <tr>
      <td> <%= location.address %> </td>
      <td> <%= location.name %> </td>
      <td> <%= location.desc %> </td>
      <td> <%= location.latitude %> </td>
      <td> <%= location.longitude %> </td>
      <td> <%= location.address_street %> </td>
      <td> <%= location.address_city %> </td>
      <td> <%= location.address_state %> </td>
      <td> <%= location.address_zip %> </td>
      <td> <%= location.address_country %> </td>
      <td> <%= location.created_at %> </td>
      <td> <%= location.updated_at %> </td>
    </tr>
  <% end %>
</table>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>


<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){

    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>