For testing, displaying list of sites:

<table class="table">
  <tr>
    <th> Name </th>
    <th> Description </th>
    <th> Latitude </th>
    <th> Longitude </th>
    <th> Street </th>
    <th> City </th>
    <th> State </th>
    <th> Zipcode </th>
    <th> Country </th>
    <th> Created </th>
    <th> Updated </th>
  </tr>
  <% @locations.each do |location| %>
    <tr>
      <td> <%= location.name %> </td>
      <td> <%= location.desc %> </td>
      <td> <%= location.latitude %> </td>
      <td> <%= location.longitude %> </td>
      <td> <%= location.address_street %> </td>
      <td> <%= location.address_city %> </td>
      <td> <%= location.address_state %> </td>
      <td> <%= location.address_zip %> </td>
      <td> <%= location.address_country %> </td>
      <td> <%= location.created_at %> </td>
      <td> <%= location.updated_at %> </td>
    </tr>
  <% end %>
</table>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<% render "partials/mapping-api-link" %> 

<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});

</script>