
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1>New Location Page</h1>
      <h3>Navigate to: <%= link_to "Locations", locations_path %></h3><br>
        <%= bootstrap_form_for(@location) do |f| %>
        <%= f.text_field :address, label: "Landmark or Full Address Search", :placeholder => "Search full address or Landmark" %>
        <%= f.text_field :name, :placeholder => "Location name" %>
        <%= f.text_field :desc, :placeholder => "Description"%>
        <%= f.number_field :latitude, :placeholder => "Latitude", :step => "any" %>
        <%= f.number_field :longitude, :placeholder => "Longitude", :step => "any" %>
        <%= f.text_field :address_street, :placeholder => "Street" %>
        <%= f.text_field :address_city, :placeholder => "City" %>
        <%= f.text_field :address_state, :placeholder => "State" %>
        <%= f.text_field :address_zip, :placeholder => "Zipcode" %>
        <%= f.text_field :address_country, :placeholder => "Country" %>
        <%= f.text_field :user_id, value: @current_user.id, id: "user_id" %>
        <%= f.submit %>
        <% end %>
        <button class="btn btn-primary">Get GPS</button>
    </div>
  </div>


