<!DOCTYPE html>
<html>
<head>
  <title>SeahawkCity</title>

<link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
  <!-- Bootstrap/jQuery -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">


  <!-- Set viewport width for mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_include_tag "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry" %>
<%= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <script src="//code.jquery.com/jquery.js"></script>
  <%= csrf_meta_tags %>



</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
             <a href="/"><%= image_tag("sm-SeahawkCity.png", :alt => "seahawkcity-logo") %></a>
              <br>

          <%
              unless current_page?(:controller => 'users', :action => 'new') ||
                     current_page?(:controller => 'sessions', :action => 'new')
           %>
            <% if @current_user %>
              <p>Welcome Back &nbsp;<%= link_to @current_user.user_name, profile_path %></p>

            <% end %>
          <% end %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


          <ul class="nav navbar-nav navbar-right">

            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/checkins/new" id="checkin_link">Checkin</a></li>
            <% if !@current_user %>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">SignUp</a></li>

            <% else %>
              <li><a href="/profile">Profile</a></li>
              <li><%= link_to(logout_path , method: :delete) do %>Logout</li>
              <% end %>
            <% end %>


          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

  <div class="container text-center">

   <!-- main content area -->



  <%= yield %>



 </div><!-- end of page container div -->
 <footer class="footer">
    <div class="container-fluid">
      <p class="text-center">&copy; Seahawk City | <a href="/about/team">Built by Team 12</a></p>
    </div><!-- end of footer container -->
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
